{% extends "header.html" %}
{% block body %}
<div>
    <form>
        <table>

            <tr>
                <td>Color:</td>
                <td><div class="btn-group"> <a id="color" class="btn btn-default dropdown-toggle btn-color" data-toggle="dropdown" href="#">Select dataset <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% for query in queries %}
                        <li><a href="#">{{ query }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                </td>
                <td>
                    <div class="btn-group"> <a id="color_parameters" class="btn btn-default dropdown-toggle btn-select2" data-toggle="dropdown" href="#">Parameters<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Divided by population</a></li>
                            <li><a href="#">Divided by area</a></li>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>

            </tr>
            <tr>
                <td>Height:</td>
                <td>
                    <div class="btn-group"> <a class="btn btn-default dropdown-toggle btn-height" data-toggle="dropdown" href="#">Select dataset <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {% for query in queries %}
                            <li><a href="#">{{ query }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </td>
                <td>
                    <div class="btn-group"> <a class="btn btn-default dropdown-toggle btn-select4" data-toggle="dropdown" href="#">Parameters<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Divided by population</a></li>
                            <li><a href="#">Divided by area</a></li>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>

            </tr>
        </table>

        <button id="submit">Submit</button>

    </form>

</div>
<div id="mapdiv" />

<script type="text/javascript">
var map;
$(document).ready(function () {
    var container = document.getElementById('mapdiv');
    map = new Map3D(container);
    map.setDefaultHeight(0.01);
    map.setHeightRange(0.05, 1.0);
    map.setDefaultColor(0x222222);
    map.setColorRange(0x666666, 0x008800);

    $.getJSON('/_map_data', {},
        function (data) {
            //console.log(data);
            map.setMapData(data);
            //map.setCountry('FIN', 1.0, 1.0);

            //map2.setMapData(data);
        });
});


var send_query = function() {
$(".dropdown-menu li a").click(function(){
  var selText = $(this).text();
  $(this).parents('.btn-group').find('.dropdown-toggle').html(selText+' <span class="caret"></span>');
});

  $.getJSON("/_data", {
        color: $('.btn-color').text().trim(),
        height: $('.btn-height').text().trim()
    },
    function(data) {
        console.log(data);
        map.setData(data);

        /*var normalized_data = normalize_data(data)
        console.log(normalized_data);

        $("#data").text(data);*/
    });
  return false;
};

function show_values() {
  var color_value = $("input:radio[name=color]:checked").val();
  var height_value = $("input:radio[name=height]:checked").val();
  return false;
};

$(function() {
    $('#submit').bind('click', send_query);
});

function normalize_data(data) {
    var normalized_data = {};
    var max_value;
    var min_value;
    for(key in data){
        if(data.hasOwnProperty(key)){
            if(typeof max_value !== "undefined"){
                if(data[key] > max_value) max_value = data[key];
                if(data[key] < min_value) min_value = data[key];
            }
            else{
                max_value = data[key];
                min_value = data[key];
            }
        }
    }

    for(key in data){
        normalized_data[key] = ((data[key])-min_value)/(max_value-min_value);
    }
    return normalized_data;
}

</script>
{% endblock %}
