{% extends "header.html" %}
{% block body %}
<div>
    <div class="row">
        <div class="col-md-1">Color:</div>
        <div class="col-md-2">
            <div class ="btn-group"><a class="btn btn-default dropdown-toggle btn-color" data-toggle="dropdown" href="#">Select dataset <span class="caret"></span></a>
                <ul class="dropdown-menu color-dropdown">
                    {% for query in queries %}
                    <li><a href="#" data-value="{{ query.id }}">{{ query.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-md-1">
            <div class ="btn-group"><a class="btn btn-default dropdown-toggle btn-select2" data-toggle="dropdown" href="#">Parameters<span class="caret"></span></a>
                <ul class="dropdown-menu color-params-dropdown">
                    {% for param in params %}
                    <li><a href="#" data-value="{{ param.id }}">{{ param.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-md-1">Min color</div>
        <div class="col-md-1">Max color</div>
    </div>
    <div class="row">
        <div class="col-md-1">Height:</div>
        <div class="col-md-2">
            <div class ="btn-group"><a class="btn btn-default dropdown-toggle btn-height" data-toggle="dropdown" href="#">Select dataset <span class="caret"></span></a>
                <ul class="dropdown-menu height-dropdown">
                    {% for query in queries %}
                    <li><a href="#" data-value="{{ query.id }}">{{ query.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-md-1">
            <div class ="btn-group"><a class="btn btn-default dropdown-toggle btn-select4" data-toggle="dropdown" href="#">Parameters<span class="caret"></span></a>
                <ul class="dropdown-menu height-params-dropdown">
                    {% for param in params %}
                    <li><a href="#" data-value="{{ param.id }}">{{ param.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-md-1">
            <input type='text' id="minColor"/>
        </div>
        <div class="col-md-1">
            <input type='text' id="maxColor"/>
        </div>
        <div class="col-md-1">
            <button type="button" class="btn-modal" data-toggle="modal" data-target="#testModal">
                Settings
            </button>
        </div>
    </div>
    <div class="row">
    <div class="col-md-12" id="grad1">
    <div id="gradient_min"></div><div id="gradient_max"></div><div id="grad"></div>
    </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="mapdiv"></div>
        </div>
    </div>
</div>
<div class="modal" id="testModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h2 class="modal-title" id="myModalLabel">Settings</h2>
      </div>
      <div class="modal-body">
        <div class="modal-slider">
            <div>Max height: <span id="currentValue">1</span>
            <input type="range" id="slider" name="points" min="0.05" max="3" value="1" step="0.01">
        </div>
        <div>
            <input type="checkbox" name="hide" value="hide" id="hide_countries">Don't show countries with no data on the map<br>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
var map;
var color_selection;
var color_parameters;
var height_selection;
var height_parameters;

function on_resize() {
    var mapdiv = document.getElementById('mapdiv');
    var rect = mapdiv.getBoundingClientRect();
    var ww = $(window).width();
    var wh = $(window).height();
    var w = (ww - rect.left - 10) + "px";
    var h = (wh - rect.top - 10) + "px";
    console.log(w, h);
    mapdiv.style.width = w;
    mapdiv.style.height = h;
    map.resize();
}

var update_countries_visibility = function() {
   if (document.getElementById('hide_countries').checked) {
            map.hideCountriesWithNoData();
        } else {
            map.showAllCountries();
        }
}

$(document).ready(function () {
    var mapdiv = document.getElementById('mapdiv');
    map = new Map3D(mapdiv);
    map.setDefaultHeight(0.01);
    map.setHeightRange(0.05, 1.0);
    map.setDefaultColor(0x222222);
    colors_changed();
    $("#hide_countries").change(update_countries_visibility);

    $.getJSON('/_map_data', {},
        function (data) {
            //console.log(data);
            map.setMapData(data);
        });
    
    on_resize();
    $(window).resize(on_resize);
});

var colors_changed = function(color) {
    var color_min = parseInt($('#minColor').spectrum("get").toHex(), 16);
    var color_max = parseInt($('#maxColor').spectrum("get").toHex(), 16);
    var gradient_min = $('#minColor').spectrum("get").toHex();
    var gradient_max = $('#maxColor').spectrum("get").toHex();
    map.setColorRange(color_min, color_max);
    map.updateColors();
    update_gradient(gradient_min, gradient_max);
}

var update_gradient_min_max = function() {
    var min_value = map.getColorDataMin();
    var max_value = map.getColorDataMax();
    $('#gradient_min').html(parseFloat(min_value).toFixed(2));
    $('#gradient_max').html(parseFloat(max_value).toFixed(2));
}

var update_gradient = function(gradient_min, gradient_max) {
    $('#grad').css({'background': '-webkit-linear-gradient(left, #' + gradient_min+ ' , #' + gradient_max + ')'});
    $('#grad').css({'background': '-o-linear-gradient(right, #' + gradient_min + ' , #' + gradient_max + ')'});
    $('#grad').css({'background': '-moz-linear-gradient(right, #' +  gradient_min + ' , #' + gradient_max + ')'});
    $('#grad').css({'background': 'linear-gradient(to right, #' + gradient_min + ' , #' + gradient_max + ')'});
    update_gradient_min_max();
};

$(function(){
    var currentValue = $('#currentValue');
    $('#slider').change(function(){
        currentValue.html(this.value);
        map.setHeightRange(0.05, this.value);
        map.updateHeights();
    });
        $('#slider').change();
});

$(".color-dropdown li a").click(function(){
  var selText = $(this).text();
  $(this).parents('.btn-group').find('.dropdown-toggle').html(selText+' <span class="caret"></span>');
  color_selection = $(this).attr('data-value');
  send_color_query();
});

$(".color-params-dropdown li a").click(function(){
  var selText = $(this).text();
  $(this).parents('.btn-group').find('.dropdown-toggle').html(selText+' <span class="caret"></span>');
  color_parameters = $(this).attr('data-value');
  send_color_query();
});

var send_color_query = function() {
    $.getJSON("/_data", { id: color_selection, param: color_parameters },
        function(data) {
            map.setColorData(data);
            update_countries_visibility();
            update_gradient_min_max();
        });
    return false;
};

$(".height-dropdown li a").click(function(){
  var selText = $(this).text();
  $(this).parents('.btn-group').find('.dropdown-toggle').html(selText+' <span class="caret"></span>');
  height_selection = $(this).attr('data-value');
  send_height_query();
});

$(".height-params-dropdown li a").click(function(){
  var selText = $(this).text();
  $(this).parents('.btn-group').find('.dropdown-toggle').html(selText+' <span class="caret"></span>');
  height_parameters = $(this).attr('data-value');
  send_height_query();
});

var send_height_query = function() {
    $.getJSON("/_data", { id: height_selection, param: height_parameters },
        function(data) {
            map.setHeightData(data);
            update_countries_visibility();
        });
    return false;
};

var minColorPalette = {
    showPaletteOnly: true,
    togglePaletteOnly: true,
    togglePaletteMoreText: 'more',
    togglePaletteLessText: 'less',
    color: "#ff0",
    change: colors_changed,
    palette: [
        ["#000","#444","#666","#999","#ccc","#eee","#f3f3f3","#fff"],
        ["#f00","#f90","#ff0","#0f0","#0ff","#00f","#90f","#f0f"],
        ["#ea9999","#f9cb9c","#ffe599","#b6d7a8","#a2c4c9","#9fc5e8","#b4a7d6","#d5a6bd"],
        ["#e06666","#f6b26b","#ffd966","#93c47d","#76a5af","#6fa8dc","#8e7cc3","#c27ba0"],
        ["#c00","#e69138","#f1c232","#6aa84f","#45818e","#3d85c6","#674ea7","#a64d79"],
        ["#900","#b45f06","#bf9000","#38761d","#134f5c","#0b5394","#351c75","#741b47"],
        ["#600","#783f04","#7f6000","#274e13","#0c343d","#073763","#20124d","#4c1130"]
    ]
}

$("#minColor").spectrum(
    minColorPalette
);

maxColorPalette = minColorPalette;
maxColorPalette.color = "#f00";

$("#maxColor").spectrum(
    maxColorPalette
);

$('#myModal').modal({
    draggable: true
})

</script>
{% endblock %}