# Compiled python files
__pycache__
*.pyc

# Emacs
.\#*
*~

# PyCharm project workspace file
workspace.xml

# JSON files
*.json
!metadata.json

# Shape files
*.dbf
*.shp
*.shx

# Three.js Blender export module
export_threejs.py

# Other files
test.svg

