body {
    margin: 5px;
    overflow: hidden;
    background-color: #ccc;
}

h1 {
    font-family: serif;
    font-variant: small-caps;
    color: white;
    margin: 0;
    margin-bottom: 0.2em;
    text-shadow: 1px 1px 2px black;
}

select {
    width: 100%;
    /* background-color: #feeecc; */
    margin-bottom: 2px;
}

.block {
    display: block;
}

.fieldsets {
    width: 100%;
    white-space: nowrap;
    position: relative;
    display: flex;
}

fieldset {
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 1px 1px 2px #555;
    background-color: white;
}

legend {
    border: 1px solid black;
    border-radius: 4px;
    padding: 0.1em 0.5em 0.1em 0.5em;
    box-shadow: 1px 1px 2px #555;
    background-color: white;
}

.fieldset {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    position: relative;
    vertical-align: top;
    display: flex;
}

input[type='range'] {
    width: 100%;
}

#help-button {
    background: white;
    padding: 0.2em 0.5em;
    position: absolute;
    right: 0px;
    bottom: 0px;
    border: 1px solid black;
    border-bottom: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-shadow: 1px 0px 2px #555;
}

#help-button:link {
    text-decoration: underline;
    color: initial;
}

#help-button:visited {
    text-decoration: none;
    color: initial;
}

#help-button:hover {
    text-decoration: none;
    color: initial;
}

#help-button:active {
    text-decoration: none;
    color: initial;
}

#help-container {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: top;
    width: 20em;
    float: right;
}

#help {
    background: white;
    margin-left: 5px;
    padding: 0.5em;
    white-space: initial;
    vertical-align: top;
    border: 1px solid black;
    border-radius: 4px;
    border-top-right-radius: 0;
    box-shadow: 1px 1px 2px #555;
}

#container {
    clear: left;
    white-space: nowrap;
}

#grad {
    height: 1.5em;
    /*background: -webkit-linear-gradient(left, red , blue);
      background: -o-linear-gradient(right, red, blue);
      background: -moz-linear-gradient(right, red, blue);
      background: linear-gradient(to right, red , blue); */
    overflow: hidden;
}

.grad-text {
    color: #fff;
    text-shadow: 1px 1px 2px #000;
}

#grad-min {
    padding-top: 0.25em;
    padding-left: 0.25em;
    float: left;
}

#grad-max {
    padding-top: 0.25em;
    padding-right: 0.25em;
    float: right;
}

#mapdiv {
    margin: 0;
    padding: 0;
    position: relative;
}
