
#mapdiv {
    margin: 0;
    padding: 0;
}

#grad {
    height: 1em;
    //width: 100%;
    /*background: -webkit-linear-gradient(left, red , blue);
      background: -o-linear-gradient(right, red, blue);
      background: -moz-linear-gradient(right, red, blue);
      background: linear-gradient(to right, red , blue); */
    overflow: hidden;
}

#grad1 {
    white-space: nowrap;
}

#gradient_min {
    //float: left;
}

#gradient_max {
    float: right;
}

.modal-backdrop, .modal-backdrop.fade.in {
    opacity: 0;
}

.fieldsets {
    width: 100%;
    white-space: nowrap;
}

.fieldset {
    display: inline-block;
    /*margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove (internal value);*/
    //width: 25%;
    float: left;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: top;
}

#last-fieldset {
    text-align: right;
    margin-left: auto;
    vertical-align: bottom;
    float: none;
}

#help-button {
    display: inline-block;
    margin-right: 2em;
}

#help {
    vertical-align: top;
}

.inline-block {
    display: inline-block;
}

.nowrap {
    white-space: nowrap;
}
