body {
    margin: 5px;
}

#grad {
    height: 1em;
    //width: 100%;
    /*background: -webkit-linear-gradient(left, red , blue);
      background: -o-linear-gradient(right, red, blue);
      background: -moz-linear-gradient(right, red, blue);
      background: linear-gradient(to right, red , blue); */
    overflow: hidden;
}

#grad1 {
    white-space: nowrap;
}

#gradient_min {
    //float: left;
}

#gradient_max {
    float: right;
}

.modal-backdrop, .modal-backdrop.fade.in {
    opacity: 0;
}

.fieldsets {
    white-space: nowrap;
}

.fieldset {
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove (internal value);
    //float: left;
    vertical-align: top;
}

.help {
vertical-align: top;
    //float: right;
}

.inline-block {
    display: inline-block;
}

.nowrap {
    white-space: nowrap;
    width: 100%;
}

.reset {
    //display: initial;
}

